@{
    ViewBag.Title = "Habilidades";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que el layout existe
}

<h3 class="section-title">Habilidades</h3>
<ul class="skills-list">
    <li>
        <strong>Conocimiento en Informática:</strong>
        <ul>
            <li>Lenguajes de programación: C#, C++</li>
            <li>Desarrollo web: HTML, CSS, ASP.NET, React</li>
            <li>Bases de datos: SQL Server, MySQL</li>
            <li>Herramientas: Visual Studio, Git,</li>
        </ul>
    </li>
    <li>
        <strong>Cualidades:</strong>
        <ul>
            <li>Proactivo y orientado a resultados</li>
            <li>Capacidad de trabajo en equipo</li>
            <li>Adaptabilidad ante cambios</li>
        </ul>
    </li>
    <li>
        <strong>Habilidades Personales:</strong>
        <ul>
            <li>Comunicación efectiva</li>
            <li>Resolución de problemas</li>
            <li>Liderasgo de Equipo</li>
        </ul>
    </li>
    <li>
        <strong>Referencias Personales:</strong>
        <ul>
            <li>Daniel Mendoza - Teléfono: 7876-5432 - Correo: juan.perez@gmail.com</li>
            <li>Ivonne Martinez - Teléfono: 6765-4321 - Correo: maria.gonzalez@gmail.com</li>
        </ul>
    </li>
    <li>
        <strong>Referencias Familiares:</strong>
        <ul>
            <li>Pedro Moreno - Teléfono: 7234-8765 - Relación: Padre</li>
            <li>Laura Moreno - Teléfono: 6345-6789 - Relación: Hermana</li>
        </ul>
    </li>
</ul>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #9d9daf;
        margin: 0;
        padding: 20px;
    }
    .section-title {
        color: #000000;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .skills-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .skills-list > li {
            margin-bottom: 20px;
        }

        .skills-list strong {
            color: #333; 
        }

        .skills-list ul {
            list-style-type: disc;
            margin-left: 20px; 
        }

            .skills-list ul li {
                margin-bottom: 5px; 
                font-size: 16px; 
            }
</style>
