@{
    ViewBag.Title = "Página de Repositorio y Proyectos";
}

<main>
    <h3 class="section-title">Proyectos Desarrollados</h3>
    <div class="projects-container">
        <div class="project">
            <h4>Aplicación PARCIAL-1</h4>
            <p><strong>Descripción:</strong> Aplicación web  PARCIAL-1</p>
            <p><strong>Tecnologías:</strong> HTML, CSS</p>
            <a href="https://github.com/macg2277/Parcial_1_aplicada_1.git" target="_blank">Ver en GitHub</a>
        </div>

        <div class="project">
            <h4>Proyecto MVC Aplicada 1</h4>
            <p><strong>Descripción:</strong> Proyecto MVC Aplicada 1.</p>
            <p><strong>Tecnologías:</strong> HTML, CSS y MVC</p>
            <a href="https://github.com/macg2277/ProyectoMVC-aplicda.git" target="_blank">Ver en GitHub</a>
        </div>

      
    </div>
</main>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #9d9daf; 
        margin: 0;
        padding: 20px; 
    }

    .section-title {
        color: #000000;
        font-size: 28px;
        margin-bottom: 20px;
        text-align: center;
    }

    .projects-container {
        max-width: 600px; 
        margin: 0 auto; 
    }

    .project {
        background-color: #ffffff; 
        padding: 15px; 
        border-radius: 8px; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        margin-bottom: 20px; 
    }

        .project h4 {
            margin: 0; 
            color: #333;
        }

        .project p {
            margin: 5px 0; 
            font-size: 16px; 
        }

    a {
        color: #007BFF; 
        text-decoration: none; 
    }

        a:hover {
            text-decoration: underline; 
        }
</style>

